Emacs.elc
Emacs.el~
GNUEmacs.el
GNUEmacs.elc
GNUEmacs.el~
auto-save-list
bookmarks
bookmarks~
early-init.el~
elpa
emojis/
eshell/
exwm.el
init.el~
mf-lisp/mf-autoloads.el~
mf-lisp/mf-completion.el~
mf-lisp/mf/mf-exwm.el~
mf-lisp/mf-functions.el~
mf-lisp/mf-look-and-feel.el~
mf-lisp/mf-notmuch.el~
mf-lisp/mf-org.el~
mf-lisp/mf-packages.el~
network-security.data
.org-id-locations
org-roam.db
projectile-bookmarks.eld
recentf
recentf~
transient/
url/
